/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #121212;
    color: #e0e0e0;
    overflow-x: hidden;
}

/* Loader Styles */
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 1); /* Optional: dark background */
    padding: 20px; /* Optional: some padding around the loader */
    border-radius: 10px; /* Optional: rounded corners */
}

#content {
    display: none;
}

/* Header and Navigation */
header {
    background-color: #1f1f1f;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Parallax Effect */
.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#hero {
    background-image: url('assets/hero-bg.jpg');
}

#projects {
    background-image: url('assets/projects-bg.jpg');
}

.hero-content {
    text-align: center;
}

/* Content Section */
.content-section {
    padding: 100px 20px;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

#three-d-container {
    width: 100%;
    height: 800px;
    margin-top: 20px;
}

/* Footer */
footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 1000;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .about-content {
        padding: 20px;
    }
}
#projects {
    margin: 50px 0;
    text-align: left;
    padding: 0 20px;
    max-width: 800px;
    margin: 0 auto; /* Center the section horizontally */
}

#projects h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 30px;
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.project p {
    font-size: 1em;
    color: #ccc; /* Slightly lighter color for description */
    margin: 0;
}

.project:last-child {
    margin-bottom: 0; /* Remove margin from the last project */
}
