{% assign services = site.data.translations[page.lang].services %}

<section class="services" id="services">
  <div class="services__container">
    <header class="services__header">
      <h2 class="services__title">{{ services.title }}</h2>
      <p class="services__subtitle">{{ services.subtitle }}</p>
    </header>
    
    <div class="services__grid">
      {% for service in services.items %}
      <div class="service-card">
        <div class="service-card__icon">
          <img src="/assets/images/icons/{{ service.icon }}.png" alt="{{ service.title }} icon">
        </div>
        <h3 class="service-card__title">{{ service.title }}</h3>
        <p class="service-card__description">{{ service.description }}</p>
        <ul class="service-card__list">
          {% for feature in service.features %}
          <li>{{ feature }}</li>
          {% endfor %}
        </ul>
        <a href="#contact" class="service-card__button">{{ services.button }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section> 