body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size-base);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-size: var(--font-size-h2);
  text-transform: uppercase;
}

h3 {
  font-size: var(--font-size-h3);
} 