{% assign page_title = page.title | default: site.translations[page.lang].site_title | default: site.title %}
{% assign page_description = page.description | default: site.translations[page.lang].site_description | default: site.description %}
{% assign page_image = page.share_image | default: page.image | default: site.translations[page.lang].social_image | default: site.default_image %}

<!-- Debug Info -->
<!-- Share Image: {{ page.share_image }} -->
<!-- Regular Image: {{ page.image }} -->
<!-- Final Image Used: {{ page_image | absolute_url }} -->

<!-- Primary Meta Tags -->
<title>{{ page_title }}</title>
<meta name="title" content="{{ page_title }}">
<meta name="description" content="{{ page_description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:title" content="{{ page_title }}">
<meta property="og:description" content="{{ page_description }}">
<meta property="og:image" content="{{ page_image | absolute_url }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ page.url | absolute_url }}">
<meta property="twitter:title" content="{{ page_title }}">
<meta property="twitter:description" content="{{ page_description }}">
<meta property="twitter:image" content="{{ page_image | absolute_url }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> 