.modal-content {
  position: relative;
  padding: var(--spacing-lg) 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  box-shadow: none;
}

.modal-buttons {
  display: flex;
  gap: var(--spacing-sm);
  flex-wrap: wrap;
  justify-content: center;
  margin: var(--spacing-md) 0;
} 