<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}
  {% include header.html %}
  {% include video.html %}
  {% include about.html %}
  {% include project-grid.html %}
  

  {% if site.contact == "static" %}
  {% include contact_static.html %}
  {% elsif site.contact == "disqus" %}
  {% include contact_disqus.html %}
  {% else %}
  {% include contact.html %}
  {% endif %}

  {% include footer.html %}

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visible-sm">
    <a  href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  {% include modals.html %}
  {% include js.html %}
</body>

</html>